{
    "inpImgPth" : "C:/Users/Usuario/Documents/TesisDataAugmentation/SistemaDUE/input-ds/images",
    "inpLabPth" : "C:/Users/Usuario/Documents/TesisDataAugmentation/SistemaDUE/input-ds/labels",
    "outImgPth" : "C:/Users/Usuario/Documents/TesisDataAugmentation/SistemaDUE/out-aug-ds/images",
    "outLabPth" : "C:/Users/Usuario/Documents/TesisDataAugmentation/SistemaDUE/out-aug-ds/labels",
    "bbImage" : "C:/Users/Usuario/Documents/TesisDataAugmentation/SistemaDUE/bb-image",
    "transformedFileName" : "aug_out",
    "CLASSES" : "Base,Cuvette,Matraz,Matraz3B,Pipeta,Vaso,Vial",
    "extensionsAllowed":"*.jpg,*.png"
}