{"Cuvette": {"class": 1, "ref_image_path": "C:/Users/Usuario/Desktop/Project/Config/RefImages/Ref_image_cuvette.jpg", "known_distance": 25, "known_width": 1.5, "focal_length": 460, "width":460.0 }, "Matraz": {"class": 2, "ref_image_path": "C:/Users/Usuario/Desktop/Project/Config/RefImages/Ref_image_matraz.jpg", "known_distance": 25, "known_width": 5, "focal_length": 402.0, "width":64 }, "Vaso": {"class": 5, "ref_image_path": "C:/Users/Usuario/Desktop/Project/Config/RefImages/Ref_image_vaso.jpg", "known_distance": 25, "known_width": 5.8, "focal_length": 450.0, "width":87 }, "Vial": {"class": 6, "ref_image_path": "C:/Users/Usuario/Desktop/Project/Config/RefImages/Ref_image_vial.jpg", "known_distance": 25, "known_width": 1.5, "focal_length": 520, "width":26 }}